services:
  go: &go
    env_file:
      - path: .env
        required: false
    tty: true
    stdin_open: true
    build:
      context: .
      target: deps
    entrypoint: go
    command: help
    volumes:
      - .:/usr/src/app:delegated
      - gomod:/go/pkg/mod:cached
      - ${LOCAL_DEP_PATH:-..}:/local

  app:
    env_file:
      - path: .env
        required: false
    tty: true
    stdin_open: true
    build:
      context: .
      target: deps
    entrypoint: go
    command: run ./cmd/server/main.go
    ports:
      - ${PORT:-50051}:${PORT:-50051}
    develop:
      watch:
        - action: sync+restart
          path: ./cmd/
          target: /usr/src/app/cmd/
        - action: sync+restart
          path: ./internal/
          target: /usr/src/app/internal/
        - action: sync+restart
          path: ./pkg/
          target: /usr/src/app/pkg/
        - action: sync+restart
          path: ./go.mod
          target: /usr/src/app/go.mod
        - action: sync+restart
          path: ./go.sum
          target: /usr/src/app/go.sum
    volumes:
      - gomod:/go/pkg/mod:cached
    depends_on:
      - install

  protoc:
    profiles: [tasks]
    image: ghcr.io/gitops-ci-cd/protoc:latest
    entrypoint: protoc
    command:
      - --proto_path=./proto
      - --go_opt=module=github.com/gitops-ci-cd/schema
      - --go_out=./internal/_gen/pb
      - --go-grpc_opt=module=github.com/gitops-ci-cd/schema
      - --go-grpc_out=./internal/_gen/pb
      - ./proto/com/acme/schema/v1/greeting.proto
    volumes:
      - .:/usr/src/app:delegated

  install:
    <<: *go
    profiles: [tasks]
    command: mod tidy

  lint:
    <<: *go
    profiles: [tasks]
    command: vet ./...

  test:
    <<: *go
    profiles: [tasks]
    command: test ./...

volumes:
  gomod: {}
